doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    title ok-zoom 
  body
    header
      h1 ok-zoom
    main
      ul
      form#nickname
        input(type="text" placeholder="write a nickname", required)
        button(type="submit") save nickname
      form#message
        input(type="text" placeholder="write a message", required)
        button(type="submit") send message
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")
    