doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    link(rel="stylesheet" href="/public/css/styles.css")
    link(href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet")
    title ok-zoom 
  body
    header
      h1 ok-zoom
    main
      #welcome 
        form
          input(type="text" placeholder="room name")
          button Enter room
      #call
        #myStream
          div.faces
            div.face
              p Me
              video#myFace(autoplay playsinline width=400 height=400)
            div.face
              p Peer
              video#peerFace(autoplay playsinline width=400 height=400)
          button#mute Mute
          button#camera.camera-btn Turn Camera OFf
            span.material-symbols-outlined videocam
          select#cameras
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")
